<% if (COPY.labels.headline) { %>
<h1><%= t.smarty(COPY.labels.headline) %></h1>
<% } %>

<% if (COPY.labels.subhed) { %>
<h2><%= t.smarty(COPY.labels.subhed) %></h2>
<% } %>

<div id="column-chart" class="graphic" role="img"
<% if (COPY.labels.screenreader) { %>
aria-label="<%- COPY.labels.screenreader %>"
<% } %>
>
    <img src="fallback.png" alt="" class="fallback" />
</div>

<% if (COPY.labels.footnote) { %>
<div class="footnotes">
    <h4>Notes</h4>
    <p><%= COPY.labels.footnote %></p>
</div>
<% } %>

<div class="footer">
    <% if (COPY.labels.source) { %><p>Source: <%= COPY.labels.source %></p><% } %>
    <% if (COPY.labels.credit) { %><p>Credit: <%= COPY.labels.credit %></p><% } %>
</div>

<button value="export chart as svg" onclick="exportSvg()" class="export-svg-button">Export SVG</button>

<script type="text/javascript">
    var DATA = <%= JSON.stringify(COPY.data) %>;
</script>

<script type="text/javascript">
	//Function triggered on clicking "Export SVG" button to download SVG file of the chart.
    function exportSvg(){
      var svgItself = jQuery(".graphic-wrapper svg");
      var svgData = svgItself[0].outerHTML;
      var svgBlob = new Blob([svgData], {type:"image/svg+xml;charset=utf-8"});
      var svgUrl = URL.createObjectURL(svgBlob);
      var downloadLink = document.createElement("a");
      downloadLink.href = svgUrl;
      downloadLink.download = "chart.svg";
      document.body.appendChild(downloadLink);
      downloadLink.click();
      document.body.removeChild(downloadLink);
    };
</script>