<% if (COPY.labels.headline) { %>
<h1><%= t.smarty(COPY.labels.headline) %></h1>
<% } %>

<% if (COPY.labels.subhed) { %>
<h2><%= t.smarty(COPY.labels.subhed) %></h2>
<% } %>

<div id="stacked-bar-chart" class="graphic" role="img"
<% if (COPY.labels.screenreader) { %>
aria-label="<%- COPY.labels.screenreader %>"
<% } %>
>
    <img src="fallback.png" alt="" class="fallback" />
</div>

<% if (COPY.labels.footnote) { %>
<div class="footnotes">
    <p><%= "Note: " + COPY.labels.footnote %></p>
</div>
<% } %>

<div class="footer">
    <div class="row">
        <div class="col-6">
            <% if (COPY.labels.source) { %>
            <p><%= "Source: " + COPY.labels.source %></p>
            <% } %>

            <% if (COPY.labels.credit) { %>
            <p><%= COPY.labels.credit + "/FiscalNote" %></p>
            <% } %>
        </div>
        <div id="credit-logo" class="col-6">
            <img src="img/logo-deeppurple-firered.png" alt="FiscalNote logo">
        </div>
    </div>
</div>

<script type="text/javascript">
    var DATA = <%= JSON.stringify(COPY.data) %>;
</script>